body {
    margin: 0;
    padding: 0;
    background-color: #fffffe;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
}

main {
    width: 100%;
    background-color: #fcf6f3;
    color: #594a4e;
    padding: 20px;
}

h2 {
    color: #33272a;
}

.top {
    text-align: center;
    padding: 20px 0;
    background-color: #faeee7;
    border-radius: 10px;
    overflow: hidden;
}

.top div {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all 1s;
}

.top .pic {
    width: 180px;
    border-radius: 50%;
}

.top h2 {
    margin: 10px 0;
}

.top p {
    margin: 0;
}

span.hash {
    font-size: 30px;
}

span.bp {
    font-weight: 700;
    color: #33272a;
}

ul.expp li {
    list-style-type: square;
}

#about {
    overflow: hidden;
}

#about h2 {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: all 1s;
}

#about p {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all 1s;
}

.content {
    margin: 20px 0;
    padding: 20px;
    background-color: #faeee7;
    border-radius: 10px;
}

.content h2 {
    margin: 0;
}

.content p {
    text-align: justify;
}

#certificate {
    overflow: auto;
}

#certificate h2 {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: all .5s;
}

.certi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cert {
    width: 48.5%;
    background-color: #ff8ba7;
    color: #33272a;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    opacity: 0;
    transform: translate(0, 50px);
    transition: all .5s;
}

.cert img {
    width: 100%;
}

.cert p {
    text-align: center;
}

.more-btn {
    width: 105px;
    padding: 10px;
    border-radius: 10px;
    display: block;
    color: #33272a;
    background-color: #ff8ba7;
    text-decoration: none;
    float: right;
    margin-top: 20px;
    opacity: 0;
    transform: translate(-50px, 0);
    transition: all .5s;
}

#skills {
    overflow: hidden;
}

#skills h2 {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: all .5s;
}

.skill {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.skills {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.skill-title {
    opacity: 0;
    transition: all .5s;
}

.skill-value {
    opacity: 0;
    transition: all .5s;
}

.progress {
    display: flex;
    align-items: center;
}

.progress .bar {
    width: 0%;
    opacity: 0;
    height: 25px;
    margin-right: 10px;
    border: 10px solid #34495e;
    background-color: #34495e;
    position: relative;
    border-radius: 25px;
    transition: all .5s;
}

.bar-bar {
    height: 25px;
    background-color: #ff8ba7;
    position: absolute;
    border-radius: 25px;
    transition: all .5s;
}

.javascript {
    width: 0%;
}

.python {
    width: 0%;
}

.php {
    width: 0%;
}

.react {
    width: 0%;
}

.cpp {
    width: 0%;
}

.node {
    width: 0%;
}

#experiences {
    overflow: hidden;
}

#experiences h2 {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: all .5s;
}

#experiences .exp {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all .5s;
}

.progress p {
    width: 32px;
    display: block;
    margin: 0;
}

.project {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects {
    width: 48.5%;
    display: flex;
    align-items: center;
    background-color: #ff8ba7;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    transform: translate(0, 50px);
    transition: all .5s;
}

.show {
    opacity: 1;
    transform: translate(0, 0);
}

#project {
    padding: 20px 20px 0 20px;
}

#project-title {
    margin-bottom: 20px;
    opacity: 0;
    transform: translate(-50px, 0);
    transition: all .5s;
}

.project-item {
    width: 100%;
    height: 200px;
    position: relative;
}

.project-item:hover .project-hover::after {
    opacity: 0.8;
}

.project-item:hover .item-top-right {
    opacity: 1;
    top: 10px;
}

.project-item:hover .item-bottom-left {
    opacity: 1;
    bottom: 10px;
}

.project-item:hover .project-hover::after {
    opacity: 0.8;
}

.project-hover {
    width: 100%;
    height: 200px;
    position: relative;
    transition: all .5s;
    color: #fff;
}

.project-hover::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-color: #111;
    opacity: 0;
    position: absolute;
    transition: all 0.5s;
}

.item-top-right {
    position: absolute;
    top: -100px;
    right: 10px;
    z-index: 2;
    opacity: 0;
    transition: all 0.5s;
}

.view-more {
    background-color: #ff8ba7;
    border-radius: 5px;
    padding: 10px;
    color: #33272a;
}

.view-more a {
    color: #33272a;
    text-decoration: none;
}

.item-bottom-left {
    position: absolute;
    bottom: -100px;
    left: 10px;
    z-index: 2;
    opacity: 0;
    transition: all 0.5s;
}

.item-bottom-left p {
    margin: 0;
}

.item-bottom-left p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 700;
    color: #ff8ba7;
}

.item-bottom-left p span:nth-child(1) {
    font-size: 20px;
}

.k1 {
    background: url(../img/zaphkiel.jpg);
    background-size: cover;
}

.k2 {
    background: url(../img/kurumi.png);
    background-size: cover;
}

.k3 {
    background: url(../img/kurumi2.jpg);
    background-size: cover;
}

.k4 {
    background: url(../img/kurumi3.jpg);
    background-size: cover;
}

.title {
    color: #33272a;
    font-weight: 600;
}

.project-rg-itm {
    width: 40%;
}

.project-rg-itm p {
    margin: 0;
    text-align: center;
}

#contact {
    overflow: hidden;
}

#contact h2 {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: all .5s;
}

.contact-me {
    display: flex;
    flex-wrap: wrap;
}

.contact-item {
    width: 50%;
    opacity: 0;
    transform: translate(0, 50px);
    transition: all .5s;
}

.contact-item ul {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}

.contact-item ul li {
    list-style: none;
    display: block;
    margin-right: 20px;
}

.contact-item ul li a {
    padding: 10px 15px;
    color: #33272a;
    font-size: 20px;
    background-color: #ff8ba7;
    border-radius: 50%;
}

footer {
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    background-color: #faeee7;
    color: #594a4e;
}

footer p {
    line-height: 50px;
    margin: 0;
    opacity: 0;
    transform: translate(-50px, 0);
    transition: all .5s;
}

footer a {
    color: #594a4e;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.modal {
    display: none;
}

.blur {
    width: 100%;
    height: 100%;
    background-color: #33272a;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.discord-modal {
    width: 395px;
    background-color: #faeee7;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.discord-modal span {
    font-size: 25px;
    color: #33272a;
    cursor: pointer;
}

.discord-modal img {
    width: 100%;
}

.discord-modal p {
    margin: 0;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    main {
        box-sizing: border-box;
        padding: 20px;
    }

    h2 {
        text-align: center;
    }

    .top {
        padding: 10px;
    }

    .content {
        padding: 10px;
    }

    .cert {
        width: 100%;
    }

    .skills {
        width: 100%;
    }

    .projects {
        width: 100%;
    }

    .contact-item {
        width: 100%;
    }

    .contact-item ul li {
        margin-right: 10px;
    }

    .discord-modal {
        width: 80%;
    }
}

@media (min-width: 1500px) {

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }

    .container {
        width: 80%;
    }

    .project-item {
        height: 400px;
    }

    .project-hover {
        height: 400px;
    }

    .exp li {
        font-size: 1.5rem;
    }

    .discord-modal {
        width: 600px;
    }

    .discord-modal span {
        font-size: 40px;
    }

}